* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: whitesmoke;
  padding: 15px;
}

header > h1 {
  color: slategrey;
  text-align: center;
  font-family: fantasy;
}

body {
  background-color: rebeccapurple;
  text-align: center;
  font-family: fantasy;
}

.score-board {
  border: 3px solid whitesmoke;
  border-radius: 15px;
  padding: 30px 25px;
  width: 250px;
  margin: 30px auto;
  color: whitesmoke;
  font-size: 48px;
  position: relative;
}
.result {
  font-size: 40px;
  color: whitesmoke;
}
.badge {
  background-color: turquoise;
  border-radius: 9px;
  color: slategrey;
  font-size: 16px;
  padding: 2px 10px;
}
#user {
  position: absolute;
  top: 1px;
  left: -25px;
}

#computer {
  position: absolute;
  top: 1px;
  right: -30px;
}

.choice {
  display: inline-block;
  margin: 30px 0px;
  border: 3px solid whitesmoke;
  border-radius: 50%;
  padding: 16px;
  transition: all 0.3s ease;
}

.choice:hover {
  cursor: pointer;
  background: whitesmoke;
}

#message {
  font-weight: bold;
  font-size: 30px;
}

.glow {
  border: 3px solid green;
  box-shadow: 0 0 10px springgreen;
}

.red {
  border: 3px solid red;
  box-shadow: 0 0 10px orangered;
}